extends layout

block content
  script(type='text/javascript').
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '#{facebookAppId}',
        xfbml      : true,
        version    : 'v2.0'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  div.welcome
    h1
      | #{welcomeMsg}
    if currentUserId
      p
        | Current user: #{currentUserId}
    p
      button(onClick="checkLoginState();")
        | Login with Facebook
    p
      button(onClick="refreshToken();")
        | Refresh token
    p
      form(method="POST", action="/api/v1/upload", enctype="multipart/form-data")
        input(type="file", name="image")
        input(type="submit")
