doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Lingua
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-2.1.1.js')
    script(src='/javascripts/main.js')

  body
    div#wrapper
      block content